@model MyFace.Models.Request.CreatePostRequestModel

@{
    Layout = "_Layout";
}

<p>Create Post Page.</p>
Message

<div>
    @using (Html.BeginForm("CreatePost", "Posts", FormMethod.Post))
    {
        @Html.LabelFor(CreatePostRequestModel => CreatePostRequestModel.Message)
        <br>
        @Html.TextBoxFor(CreatePostRequestModel => CreatePostRequestModel.Message)
        @Html.ValidationMessageFor(CreatePostRequestModel => CreatePostRequestModel.Message)
        <br>
        <input type="submit" value="Submit">
    }
</div>
