@model MyFace.Models.Request.CreatePostRequestModel

@{
    Layout = "_Layout";
}

<p>Create Post Page.</p>
<form action="">
  <label for="fname">Message</label><br>
  <input type="text" id="msg" name="msg"><br>
  <label for="lname">Submit</label><br>
  <input type="submit" id="sbmt" name="sbmt">/
</form>