@model MyFace.Models.Request.CreatePostRequestModel

@{
    Layout = "_Layout";
}

<h2 class="BigTitle">Create a post!</h2>

<div>
    @using (Html.BeginForm("CreatePost", "Posts", FormMethod.Post))
    {
        <div class="messageLabel">
            @Html.LabelFor(CreatePostRequestModel => CreatePostRequestModel.Message)
        </div>

        <div class="messageArea">
            @Html.TextAreaFor(CreatePostRequestModel => CreatePostRequestModel.Message)
        </div>

        <div class="messageError">
            @Html.ValidationMessageFor(CreatePostRequestModel => CreatePostRequestModel.Message)
        </div>

        <input class="submitBtn" type="submit" value="Submit">
    }
</div>